.header {
  background: transparent;
  display: none;
}

.headhesive {
  background: linear-gradient(#0b1d26, rgba(11, 29, 38, 0.8274509804)), rgba(11, 29, 38, 0.8);
  width: 100%;
  position: fixed;
  display: block;
  transform: translateY(-100%);
  transition: all 0.5s;
  z-index: 3;
}

.headhesive--stick {
  transform: translateY(0);
}

.navbar {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.navmenu {
  display: flex;
  align-items: center;
}
.navmenu__item {
  padding: 0 20px;
  display: flex;
  position: relative;
}
.navmenu__item b {
  color: #00bcd4;
  padding: 0 3px;
  font-weight: inherit;
}
.navmenu__link {
  color: #f1f1f1;
  text-transform: lowercase;
  position: relative;
  font-weight: 200;
  transform: scale(1);
  transition: all 0.3s;
}
.navmenu__link:hover {
  color: #00bcd4;
  transform: scale(1.2);
}
.navmenu__link.active {
  color: #00bcd4;
}

.navbar-navigation {
  position: relative;
  height: 100%;
  width: 80px;
  display: none;
}
.navbar-navigation__btn {
  position: absolute;
  top: -20px;
  background: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100000;
}

.navbar-mob {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0b1d26, rgba(11, 29, 38, 0.8274509804)), rgba(11, 29, 38, 0.8);
  transform: translateX(-100%);
  transition: all 2s;
}
.navbar-mob.active {
  transform: translateX(0);
  transition: all 2s;
}

.navmenu-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

@media (max-width: 767px) {
  .navbar {
    justify-content: space-between;
  }

  .navmenu {
    display: none;
  }
  .navmenu__item {
    padding: 20px 0;
  }

  .navbar-mob {
    display: block;
  }

  .navbar-navigation {
    display: block;
  }
  .navbar-navigation__btn {
    display: block;
    overflow: hidden;
    z-index: 99;
    margin-right: 10px;
  }
  .navbar-navigation__btn span {
    display: block;
    position: absolute;
    top: 23px;
    transform: rotate(180deg);
    height: 2px;
    width: 25px;
    right: 12px;
    background: #00bcd4;
    transition: all 1s;
  }
  .navbar-navigation__btn span::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    height: 2px;
    width: 25px;
    background: #00bcd4;
    transition: 1s;
    top: 8px;
  }
  .navbar-navigation__btn span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    height: 2px;
    width: 25px;
    background: #00bcd4;
    transition: 1s;
    bottom: 8px;
  }
  .navbar-navigation__btn.active span {
    transition: all 0s;
    width: 0;
  }
  .navbar-navigation__btn.active span::after {
    bottom: 1px;
    transform: rotate(45deg);
    transition: 0.3s;
  }
  .navbar-navigation__btn.active span::before {
    top: 0;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
}

/*# sourceMappingURL=header.css.map */
