.skills {
  width: 100%;
  height: auto;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skills-title {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0;
  transform: translateX(-150%);
  opacity: 0;
  transition: all 1s ease 0.1s;
}
.skills-title::before {
  content: "";
  width: 60px;
  height: 2px;
  background: #0b1d26;
  margin-right: 30px;
}
.skills-title h2 {
  color: #0b1d26;
  font-weight: 300;
}
.skills-title h2 b {
  color: #00bcd4;
}
.skills-title.active {
  transform: translateX(0);
  opacity: 1;
}

.skills-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.skills-content__item {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(11, 29, 38, 0.5294117647);
  transition: all 1s ease 2s;
  -webkit-transition: all 1s ease 2s;
  opacity: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.skills-content__item:nth-child(2) {
  transition: all 1s ease 1.5s;
  -webkit-transition: all 1s ease 1.5s;
}
.skills-content__item:nth-child(3) {
  transition: all 1s ease 1s;
  -webkit-transition: all 1s ease 1s;
}
.skills-content__item:nth-child(4) {
  transition: all 1s ease 0.5s;
  -webkit-transition: all 1s ease 0.5s;
}
.skills-content__item.active {
  animation-name: animBall;
  animation-duration: 3s;
  -webkit-animation-name: animBall;
  -webkit-animation-duration: 3s;
  opacity: 1;
}
.skills-content__item:hover .skills-content__description {
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.skills-content__item.touch .skills-content__description {
  transform: scale(1);
  transition: all 0.7s;
  -webkit-transform: scale(1);
  -webkit-transition: all 0.7s;
}
.skills-content__title {
  color: #00bcd4;
  font-weight: 400;
  padding: 20px 0;
  text-transform: uppercase;
}
.skills-content__subtitle {
  color: #0b1d26;
  display: flex;
}
.skills-content__description {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(11, 29, 38, 0.9254901961);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.skills-content__description p {
  color: #f1f1f1;
  text-align: center;
  line-height: 1.3;
}

@keyframes animBall {
  0% {
    transform: translateX(-300%) rotate(0deg);
    transition: all 1s;
  }
  100% {
    transform: translateX(0) rotate(360deg);
    transition: all 1s;
  }
}
@media screen and (max-width: 560px) {
  .skills-content__item {
    margin: 10px;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    opacity: 0;
  }
  .skills-content__item:nth-child(2) {
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
  }
  .skills-content__item:nth-child(3) {
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
  }
  .skills-content__item:nth-child(4) {
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
  }
  .skills-content__item.active {
    animation-name: animBall;
    animation-duration: 1s;
    -webkit-animation-name: animBall;
    -webkit-animation-duration: 1s;
    opacity: 1;
  }
}

/*# sourceMappingURL=sectionSkills.css.map */
