@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  margin: env(safe-area-inset, 0);
  padding: env(safe-area-inset, 0);
  border: env(safe-area-inset, 0);
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active,
a:hover {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  width: env(safe-area-inset, 100%);
  height: env(safe-area-inset, 100%);
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  list-style: none;
}

ul, li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

button,
input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
body.active {
  overflow-y: hidden;
}

section {
  width: 100%;
}

@media (max-width: 767px) {
  h1 {
    font-size: calc(36px + 74.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: calc(36px + 44 * (100vw / 1280));
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: calc(24px + 40.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  h2 {
    font-size: calc(24px + 24 * (100vw / 1280));
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  h3 {
    font-size: calc(18px + 6 * (100vw / 1280));
  }
}

@media (max-width: 767px) {
  h4 {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  h4 {
    font-size: calc(16px + 4 * (100vw / 1280));
  }
}

@media (max-width: 767px) {
  h5 {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  h5 {
    font-size: calc(12px + 4 * (100vw / 1280));
  }
}

@media (max-width: 767px) {
  h6 {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  h6 {
    font-size: calc(16px + 2 * (100vw / 1280));
  }
}

@media (max-width: 767px) {
  span {
    font-size: calc(20px + 34 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  span {
    font-size: calc(20px + 20 * (100vw / 1280));
  }
}

p {
  font-weight: 100;
}
@media (max-width: 767px) {
  p {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  p {
    font-size: calc(12px + 2 * (100vw / 1280));
  }
}

/*# sourceMappingURL=base.css.map */
